.form {
  align: center;
  padding: 20% 20% 0;}

.input {
  border-style: solid;
  border-width: 3px;
  border-color: orchid;
  color: #079685;
  font-size: 30px;
  width: 500px;
}

.input:focus {
  outline-color: orchid;
}

.btn {
  background-color: royalblue;
  color: white;
  display: block;
  font-size: 50px;
  margin: 5% auto;
}
